.about-section {
    display: grid;
    justify-items: center;

    text-align: center;

    background-color: $lightgrey-color;

    &__image,
    &__title {
        margin-bottom: 34px;
    }

    &__image {
        height: auto;
    }

    &__description {
        max-width: 1080px;
        
        line-height: 1.9;
    }
}