$brand-color: #64c29e;

$grey-color: #848789;
$lightgrey-color: #f7f7f7;
$lightgrey-color-2: #d7d7d7;

$list-link-color: #4d4959;
$input-color: #c8c8c8;
$border-color: #94979a;

$discover-color: #282f35;