.work-section {
    max-width: 1600px;

    margin: 0 auto;
    
    &-block-1 {

        &-img {
            position: relative;

            &__image-after {
                position: absolute;
                top: 50%;
                left: 50%;

                transform: translate(-50%, -50%);

                height: 118px;
            }
        }
    }

    .information-block {

        &-content {
            margin: 74px 0 54px 0;
            padding: 0 68px;

            text-align: center;
        
            &__image {
                margin-bottom: 30px;
            }
        
            &__title {
                margin-bottom: 26px;
            }
        
            &__description {
                font-size: 16px;
                line-height: 1.875;
                text-align: justify;
        
                margin-bottom: 42px;
            }
        
            &__line {
                width: 50px;
                height: 1px;
        
                margin: 0 auto;
        
                background-color: $lightgrey-color-2;
            }
        }

        &-img {
            position: relative;

            max-height: 200px;

            &:before {
                content: '';
        
                position: absolute;
                top: 0;
                left: 50%;
        
                transform: translateX(-50%);
        
                width: 0;
                height: 0;
        
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 15px solid #fff;
            }
        }
    }

    &-block-2 {

        &-img {
            position: relative;

            &__image-after {
                position: absolute;
                top: 50%;
                left: 50%;

                transform: translate(-50%, -50%);

                height: 152px;
            }
        }
    }

    &-block-3 {

        &-img-1 {
            position: relative;

            &__image-after {
                position: absolute;
                top: 50%;
                left: 50%;

                transform: translate(-50%, -50%);

                height: 67px;
            }
        }
    }
}