@font-face {
  font-family: 'Lato Regular';
  src: url("../fonts/Lato/Lato-Regular.eot");
  src: url("../fonts/Lato/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Regular.woff") format("woff"), url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Lato Regular';
}

h1 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 3px;
}

p {
  color: #848789;
}

ul {
  list-style-type: none;
}

li,
a {
  text-decoration: none;
}

a {
  outline: none;
  color: #4d4959;
}

img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.header-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 9fr;
  grid-template-areas: "header-nav";
  justify-items: center;
  max-height: 800px;
  padding-top: 35px;
  background: url(../img/header-bg.png) no-repeat top center/cover;
}

.header-section-nav {
  grid-area: header-nav;
}

.header-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 30px;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-list__item {
  text-transform: uppercase;
}

.header-list__item:first-child {
  position: relative;
}

.header-list__item:first-child:after {
  content: '.';
  position: absolute;
  top: 0;
  right: -30px;
}

.header-list__item:nth-child(4) {
  position: relative;
}

.header-list__item:nth-child(4):after {
  content: '.';
  position: absolute;
  top: 0;
  right: -30px;
}

.header-list__link {
  font-size: 13px;
  line-height: 1.2;
  font-weight: bold;
  letter-spacing: 3px;
  -webkit-transition: color .5s ease-in-out;
  -o-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out;
}

.header-list__link:hover {
  color: #000;
}

.about-section {
  display: grid;
  justify-items: center;
  padding: 118px 0 144px 0;
  text-align: center;
  background-color: #f7f7f7;
}

.about-section__image, .about-section__title {
  margin-bottom: 34px;
}

.about-section__image {
  width: auto;
  height: auto;
}

.about-section__description {
  max-width: 1080px;
  font-size: 18px;
  line-height: 1.9;
}

.work-section {
  max-width: 1600px;
  margin: 0 auto;
}

.work-section-block-1 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "a b";
}

.work-section-block-1-img {
  grid-area: a;
  position: relative;
}

.work-section-block-1-img__image-after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 113px;
  height: 118px;
}

.work-section-block-1 .information-block {
  grid-area: b;
}

.work-section .information-block-content {
  margin: 74px 0 54px 0;
  padding: 0 68px;
  text-align: center;
}

.work-section .information-block-content__image {
  margin-bottom: 30px;
}

.work-section .information-block-content__title {
  margin-bottom: 26px;
}

.work-section .information-block-content__description {
  font-size: 16px;
  line-height: 1.875;
  text-align: justify;
  margin-bottom: 42px;
}

.work-section .information-block-content__line {
  width: 50px;
  height: 1px;
  margin: 0 auto;
  background-color: #d7d7d7;
}

.work-section .information-block-img {
  position: relative;
  max-height: 200px;
}

.work-section .information-block-img:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #fff;
}

.work-section-block-2 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "c d";
}

.work-section-block-2 .information-block {
  grid-area: c;
}

.work-section-block-2-img {
  grid-area: d;
  position: relative;
}

.work-section-block-2-img__image-after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 177px;
  height: 152px;
}

.work-section-block-3 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "e f g";
}

.work-section-block-3-img-1 {
  grid-area: e;
  position: relative;
}

.work-section-block-3-img-1__image-after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 208px;
  height: 67px;
}

.work-section-block-3 .information-block {
  grid-area: f;
}

.work-section-block-3-img-2 {
  grid-area: g;
}

.review-section {
  display: grid;
  justify-items: center;
  padding: 124px 0 70px 0;
  text-align: center;
}

.review-block__image {
  margin-bottom: 38px;
}

.review-block__title {
  margin-bottom: 30px;
  text-transform: initial;
}

.review-block__title--additional {
  font-weight: normal;
  color: #848789;
}

.review-block__description {
  font-size: 24px;
  font-style: italic;
  line-height: 1.4;
  max-width: 1080px;
}

.review-square-block {
  width: 51px;
  height: 11px;
  margin-top: 104px;
}

.review-square-block__square {
  display: inline-grid;
  width: 11px;
  height: 11px;
  border: 1px solid #848789;
  border-radius: 50%;
  cursor: pointer;
}

.review-square-block__square:first-child {
  background-color: #848789;
}

.review-square-block__square:hover {
  background-color: #848789;
}

.shop-section {
  max-width: 1600px;
  margin: 0 auto;
}

.shop-section-items {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "a b d e f f" "c c d e g h";
}

.shop-section-items__image-1 {
  grid-area: a;
  height: 267px;
}

.shop-section-items__image-2 {
  grid-area: b;
}

.shop-section-items__image-3 {
  grid-area: c;
}

.shop-section-items__image-4 {
  grid-area: d;
}

.shop-section-items__image-5 {
  grid-area: e;
}

.shop-section-items__image-6 {
  grid-area: f;
}

.shop-section-items__image-7 {
  grid-area: g;
}

.shop-section-items__image-8 {
  grid-area: h;
}

.shop-section-items__image {
  max-width: 100%;
}

.shop-section-discover {
  display: grid;
  justify-items: center;
  padding: 75px 0;
  background-color: #282f35;
}

.shop-section-discover__btn {
  width: 300px;
  height: 50px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: 1px solid #94979a;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background-color: transparent;
  color: #fff;
}

.shop-section-discover__btn:hover {
  border: none;
  background-color: #64c29e;
  color: #fff;
}

.contact-section {
  display: grid;
  justify-items: center;
  padding: 108px 0;
  text-align: center;
}

.contact-section__image {
  width: auto;
  height: auto;
}

.contact-section__image, .contact-section__tagline {
  margin-bottom: 38px;
}

.contact-section__tagline {
  font-size: 24px;
  font-style: italic;
  line-height: 1.4;
}

.contact-section-form {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-items: center;
}

.contact-section-form__mail {
  width: 400px;
  height: 68px;
  font-size: 20px;
  font-style: italic;
  line-height: 1.2;
  padding-left: 28px;
  border: 1px solid #d7d7d7;
}

.contact-section-form__mail[type="text"]::-webkit-input-placeholder {
  color: #c8c8c8;
}

.contact-section-form__mail[type="text"]:-ms-input-placeholder {
  color: #c8c8c8;
}

.contact-section-form__mail[type="text"]::-ms-input-placeholder {
  color: #c8c8c8;
}

.contact-section-form__mail[type="text"]::-moz-placeholder {
  color: #c8c8c8;
}

.contact-section-form__mail[type="text"]::placeholder {
  color: #c8c8c8;
}

.contact-section-form__btn {
  width: 126px;
  height: 68px;
  font-size: 24px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  background-color: #64c29e;
  color: #fff;
}

.footer-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "address social .";
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 102px 0;
  background-color: #f7f7f7;
}

.footer-section-address__data {
  font-size: 16px;
  color: #848789;
}

.footer-section-address__data span {
  display: block;
}

.footer-section-social-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
